body{ /* CUERPO */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    position: relative;
}
.conectemos-img{
    margin-top: 30px;
    margin-bottom: 50px;
    text-align: center;
}
.texto-conectemos{
    text-align: center;
}
.mision-vision {
    display: flex;
    justify-content: space-between; 
    margin-left: 300px;
    margin-right: 300px;
}
.card {
    margin-top: 20px;
    width: 18rem;
}
.img-atencion{
    justify-content: space-between; 
    text-align: center;
}
.textol{
    text-align: center;
    margin-top: 60px;
    color: rgb(240, 191, 76);
}